@import "../../styles/colors";

.produtos {
	max-width: 960px;
	margin: 60px auto;

  h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px
  }
}

.produtosContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

