@import "../../styles/colors";

.preco {
	background: $gray-light;
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

@media (max-width: 800px) {
	.preco {
		padding-left: 10px;
		padding-right: 10px;
	}
}
